# Environment & Secrets
.env
.env.local
.env.*.local
.env*.txt
.env.test.example
.env.example


# Keys & Credentials
*.key
*.pem
*.p8
*.p12
*.pfx
*.jks

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build Output
dist/
build/
*.tsbuildinfo
dist.zip
*.zip
# IDE & Editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.iml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime
tmp/
temp/
*.pid
*.seed

# OS
Thumbs.db

# Testing
.nyc_output/
coverage/
dashboard test/

# Private / Local
local.ts
*.local.ts
SECRETS.md
TODO.md
